<!-- Footer -->
<footer>
  <!-- Footer Elements -->
  <div class="container">

    <!-- Social buttons -->
    <!--Facebook-->
    <button type="button" mdbBtn color="fb" class="waves-light" mdbWavesEffect>
      <i class="fab fa-facebook-f left"></i>Facebook
    </button>

    <!--Twitter-->
    <button type="button" mdbBtn color="tw" class="waves-light" mdbWavesEffect>
      <i class="fab fa-twitter left"></i>Twitter
    </button>

    <!--Google +-->
    <button
      type="button"
      mdbBtn
      color="gplus"
      class="waves-light"
      mdbWavesEffect
    >
      <i class="fab fa-google-plus left"></i>Google +
    </button>

    <!--Linkedin-->
    <button type="button" mdbBtn color="li" class="waves-light" mdbWavesEffect>
      <i class="fab fa-linkedin-in left"></i>Linkedin
    </button>

    <!--Instagram-->
    <button type="button" mdbBtn color="ins" class="waves-light" mdbWavesEffect>
      <i class="fab fa-instagram left"></i>Instagram
    </button>

    <!--Pinterest-->
    <button type="button" mdbBtn color="pin" class="waves-light" mdbWavesEffect>
      <i class="fab fa-pinterest left"></i>Pinterest
    </button>

    <!--Youtube-->
    <button type="button" mdbBtn color="yt" class="waves-light" mdbWavesEffect>
      <i class="fab fa-youtube left"></i>Youtube
    </button>
  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="copyright">© 2020 Copyright:<a href="/"> Enforcers.com</a></div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
