img {
  height: 3em;
  position: relative;
  left: 38%;
  top: 1em;
  cursor: pointer;
}

fieldset {
  position: relative;
  top: 2em;
  left: 39%;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 2em;
  form {
    margin: 0em 3em 3em 3em;
    .login-fields {
      position: relative;
      top: 1em;
      // left: 4em;
      width: fit-content;
      margin: 1em;
      mat-icon {
        display: inline;
        position: relative;
        font-size: 100%;
        top: -1em;
        left: 12em;
        cursor: pointer;
      }
    }
  }
  .forgotPassword {
    position: relative;
    top: 1.5em;
  }
}

.mat-display-1 {
  color: grey;
  position: relative;
  display: inline;
  left: 39%;
}

.mat-headline{
  color: grey;
  text-align: center;
}
